{% extends 'base.html' %}
{% load static %}

{% block Titulo %}Cadastro{% endblock Titulo %}

{% block Conteudo %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Sobre Empresa</h1>
                <p class="lead fw-normal text-white-50 mb-0"> Saiba mais sobre Empresa</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
                <p>🚀 Na Senac Store, entendemos a paixão pela cultura nerd e geek. Somos uma equipe de aficionados por quadrinhos, filmes, séries, jogos e tudo mais que envolve esse universo fascinante. Nosso objetivo é proporcionar uma experiência única para todos os fãs, oferecendo uma ampla variedade de produtos cuidadosamente selecionados para atender às suas necessidades e desejos. </p>
                <p>🎮 Seja você um gamer ávido, um colecionador de quadrinhos, um fã de séries cult ou um entusiasta de filmes de ficção científica, temos algo especial para você na Senac Store. Desde camisetas e canecas até action figures e acessórios temáticos, nossa coleção é repleta de itens exclusivos que vão deixar qualquer nerd ou geek extasiado. </p>                 
                <p>✨ Nossa missão é criar um espaço onde todos se sintam bem-vindos e possam celebrar sua paixão pelos universos nerds e geeks. Com um atendimento personalizado e uma equipe apaixonada, estamos aqui para ajudá-lo a encontrar os produtos perfeitos que complementam o seu estilo e interesses. </p>
        </div>
    </section>
{% endblock Conteudo %}